@charset "utf-8";
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: large;
	background-color: #b1c0c7;
}

table {
  width: 100%;
  table-layout: fixed;
}

#nav-menu, #page-info {
  vertical-align: top;
}

footer {
  text-align: center;
  background-color: #698695;
  padding: 20px;
}

.address {
  font-size: 24px;
  margin-bottom: 10px;
}

.last-updated {
  font-size: 16px;
  color: #888;
}

h1 {
  text-align: center;
}

#navigation a {
  display: block;
  padding: 2px;
  width: 300px;
  text-align: center;
  background-color: #FFCE2F;
  color: #FFFFFF; /* Change to white */
  text-decoration: none;
  border-bottom: 2px solid #999;
}
#navigation li {
		font: 32px Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		list-style-type: none;
	}
	#navigation a {
		display: block;
		padding: 2px;
		width: 300px;
		text-align: center;
		background-color: #698695;
		color: #00000;
		text-decoration: none;
		border-bottom: 2px solid #999;
	}
	
	#navigation a:hover {
		background-color: #4c748c;
		font-weight: bold;
	}
.last-updated {
  font-size: 16px;
  color: #FFFFFF; /* Change to white */
}

div.formRow {
	display: flex;
	flex-flow: row wrap;
	margin: 7px 0px;
}

div.formRow > * {
	flex: 1 1 150px;
}

form#survey {
	fisplay: flex;
	flex-flow: row wrap;
}

form#survey > fieldset {
	vackground-color: rgb(241, 232, 181);
	border-radius: 20px;
	flex: 1 1 300px;
	font-size: 0.85em;
	padding: 10px;
	margin: 10px;
}

legend {
	background-color: rgb(179, 20, 25);
	color: white;
	padding: 5px;
}

textarea {
	margin-top: 10px;
	height: 100px;
	width: 95%;
}

div#buttons {
	text-align: center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
}